<nb-stepper orientation="horizontal" [linear]="true" #stepper>
    <nb-step label="Filme">
        <nb-card>
            <nb-card-header>
                Você selecionou:
            </nb-card-header>
            <nb-card-body>
                <div class="row show-grid">

                    <div class="col-6 col-md-4">
                        <img [src]="session.movie.image" width="200px" class="responsive">
                    </div>
                    <div class="col-12 col-sm-6 col-md-8">
                        <h3>{{session.movie.title}}</h3>
                        <p>{{session.movie.description}}</p>
                        <p>tempo estimado {{timeConvert(session.movie.duration)}}</p>
                        <p><b>Sala:</b> {{session.room.name}} - {{session.movie.animationType.toUpperCase()}} - {{session.date | date: 'dd/MM/yyyy'}}</p>
                        <p><b>Hora de inicio:</b> {{session.date | date: 'HH:mm'}}</p>
                        <p><b>Hora de término estimada:</b> {{endDate | date: 'HH:mm'}}</p>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button type="button" class="session-button" nbButton status="primary" nbStepperNext>Prosseguir</button>
            </nb-card-footer>
        </nb-card>
    </nb-step>
    <nb-step label="Assentos">

        <nb-card>
            <nb-card-header>
                Selecionar Assentos
            </nb-card-header>
            <nb-card-body>
                <div id=chairs>

                    <div *ngFor="let chairline of  [].constructor(session.room.lines); let i = index">
                        <div class="horizontal-buttons">
                            <div *ngFor="let chaircolumn of [].constructor(session.room.columns); let j = index">

                                <div *ngIf="isSelected(i,j) && !isChairPurchased(i,j)">
                                    <button type="button" class="chair-button" nbButton size="tiny" status="success" (click)="selectChair(i,j)">{{alphabet[i]}}{{j+1}}</button>
                                </div>
                                <div *ngIf="!isSelected(i,j) && !isChairPurchased(i,j)">
                                    <button type="button" class="chair-button" nbButton outline size="tiny" status="success" (click)="selectChair(i,j)">{{alphabet[i]}}{{j+1}}</button>
                                </div>
                                <div *ngIf="isChairPurchased(i,j)">
                                    <button type="button" class="chair-button" nbButton size="tiny" status="danger">{{alphabet[i]}}{{j+1}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <label class="label" for="selected-chairs">Assentos selecionados</label>
                <p>
                    <b *ngFor="let chair of selectedChairs; let i = index">{{chair}}</b></p>
                <p>Valor total: {{selectedChairs.length *10 | currency: 'BRL': true}}</p>
            </nb-card-body>
            <nb-card-footer>
                <button type="button" class="session-button" nbButton status="primary" nbStepperNext [disabled]="selectedChairs.length === 0">Prosseguir</button>
            </nb-card-footer>
        </nb-card>

    </nb-step>
    <nb-step label="Bomboniere">
        <nb-card>
            <nb-card-header>
            </nb-card-header>
            <nb-card-body>

            </nb-card-body>
            <nb-card-footer>
                <button type="button" class="session-button" nbButton status="primary" nbStepperNext>Prosseguir</button>
            </nb-card-footer>
        </nb-card>
    </nb-step>
    <nb-step label="confirmar">
        <nb-card>
            <nb-card-header>Confirmar Compra
            </nb-card-header>
            <nb-card-body>
                <p>Filme: <b>{{session.movie.title}}</b></p>
                <p>Sala: <b>{{session.room.name}} - {{session.movie.animationType.toUpperCase()}} -
                        {{session.movie.audioType.toUpperCase()}}</b></p>
                <p>Assentos: <b *ngFor="let chair of selectedChairs; let i = index">{{chair}}</b></p>
                <p>itens:
                    <!-- <b *ngFor="let chair of selectedChairs; let i = index">{{chair}}</b> -->
                </p>
                <br>
                <p>Total: <b>{{selectedChairs.length *10 + snacksSum() | currency: 'BRL': true}}</b></p>
            </nb-card-body>
            <nb-card-footer>
                <button type="button" class="session-button" nbButton status="primary" nbStepperNext (click)="finalizePurchase()">Finalizar Compra</button>
            </nb-card-footer>
        </nb-card>
    </nb-step>
</nb-stepper>