<h2>Cadastrar Sala</h2>
<nb-card>
    <nb-card-body>
        <form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">


            <div class="form-control-group">
                <label class="label" for="input-name">Nome da sala:</label>
                <input nbInput [(ngModel)]="room.name" #name="ngModel" id="input-name" name="name" placeholder="Nome da sala" autofocus fullWidth fieldSize="large" [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : 'basic'" [required]="true" [minlength]="getConfigValue('forms.validation.name.minLength')"
                    [maxlength]="getConfigValue('forms.validation.name.maxLength')" [attr.aria-invalid]="name.invalid && name.touched ? true : null">
                <ng-container *ngIf="name.invalid && name.touched">
                    <p class="caption status-danger" *ngIf="name.errors?.required">
                        Nome da sala é obrigatório!
                    </p>
                    <p class="caption status-danger" *ngIf="name.errors?.minlength || name.errors?.maxlength">
                        O nome da sala precisa conter de {{getConfigValue('forms.validation.name.minLength')}} a {{getConfigValue('forms.validation.name.maxLength')}} caracteres
                    </p>
                </ng-container>
            </div>
            <div class="form-control-group">
                <label class="label" for="input-lines">Número de linhas:</label>
                <input nbInput [(ngModel)]="room.lines" #lines="ngModel" id="input-lines" name="lines" type="number" max="28" min=1 placeholder="Número de linhas" fullWidth fieldSize="large" [status]="lines.dirty ? (lines.invalid  ? 'danger' : 'success') : 'basic'" [required]="true"
                    [attr.aria-invalid]="lines.invalid && lines.touched ? true : null">
                <ng-container *ngIf="lines.invalid && lines.touched">
                    <p class="caption status-danger" *ngIf="lines.errors?.required">
                        Número de linhas é obrigatório!
                    </p>
                </ng-container>
            </div>
            <div class="form-control-group">
                <label class="label" for="input-columns">Número de colunas:</label>
                <input nbInput [(ngModel)]="room.columns" #columns="ngModel" id="input-columns" name="columns" type="number" max="15" min=1 placeholder="Número de colunas" fullWidth fieldSize="large" [status]="columns.dirty ? (columns.invalid  ? 'danger' : 'success') : 'basic'"
                    [required]="true" [attr.aria-invalid]="columns.invalid && columns.touched ? true : null">
                <ng-container *ngIf="columns.invalid && columns.touched">
                    <p class="caption status-danger" *ngIf="columns.errors?.required">
                        Número de colunas é obrigatório!
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="chairs">Assentos</label>
                <div id=chairs>

                    <div *ngFor="let chairline of  [].constructor(room.lines); let i = index">
                        <div class="horizontal">
                            <div *ngFor="let chaircolumn of [].constructor(room.columns); let j = index">
                                <button type="button" class="chair-button" nbButton outline size="tiny" status="success">{{alphabet[i]}}{{j+1}}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <br>
            <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
                Cadastrar
            </button>
        </form>
    </nb-card-body>
</nb-card>