  @import '../../@theme/styles/themes';
  @include nb-install-component() {
      nb-card {
          max-width: 600px;
          max-height: 500px;
      }
  }
  
  .remove {
      margin-left: 1rem;
  }