<h1 id="title" class="title">Registrar</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Eita!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Sucesso!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-name">Nome Completo:</label>
        <input nbInput [(ngModel)]="user.fullName" #fullName="ngModel" id="input-name" name="fullName" placeholder="Nome Completo" autofocus fullWidth fieldSize="large" [status]="fullName.dirty ? (fullName.invalid  ? 'danger' : 'success') : 'basic'" [required]="getConfigValue('forms.validation.fullName.required')"
            [minlength]="getConfigValue('forms.validation.fullName.minLength')" [maxlength]="getConfigValue('forms.validation.fullName.maxLength')" [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null">
        <ng-container *ngIf="fullName.invalid && fullName.touched">
            <p class="caption status-danger" *ngIf="fullName.errors?.required">
                Seu nome é obrigatório!
            </p>
            <p class="caption status-danger" *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength">
                Seu nome precisa conter de {{getConfigValue('forms.validation.fullName.minLength')}} a {{getConfigValue('forms.validation.fullName.maxLength')}} caracteres
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-email">Endereço de E-mail:</label>
        <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email" pattern=".+@.+..+" placeholder="Endereço de E-mail" fullWidth fieldSize="large" [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'" [required]="getConfigValue('forms.validation.email.required')"
            [attr.aria-invalid]="email.invalid && email.touched ? true : null">
        <ng-container *ngIf="email.invalid && email.touched">
            <p class="caption status-danger" *ngIf="email.errors?.required">
                E-mail é obrigatório!
            </p>
            <p class="caption status-danger" *ngIf="email.errors?.pattern">
                O E-mail não é válido!
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">Senha:</label>
        <input nbInput [(ngModel)]="user.password" #password="ngModel" type="password" id="input-password" name="password" placeholder="Senha" fullWidth fieldSize="large" [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'" [required]="getConfigValue('forms.validation.password.required')"
            [minlength]="getConfigValue('forms.validation.password.minLength')" [maxlength]="getConfigValue('forms.validation.password.maxLength')" [attr.aria-invalid]="password.invalid && password.touched ? true : null">
        <ng-container *ngIf="password.invalid && password.touched">
            <p class="caption status-danger" *ngIf="password.errors?.required">
                Senha é obrigatória!
            </p>
            <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                A Senha precisa conter de {{ getConfigValue('forms.validation.password.minLength') }} a {{ getConfigValue('forms.validation.password.maxLength') }} caracteres
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-re-password">Repita a Senha:</label>
        <input nbInput [(ngModel)]="user.confirmPassword" #rePass="ngModel" type="password" id="input-re-password" name="rePass" placeholder="Repita a Senha" fullWidth fieldSize="large" [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
            [required]="getConfigValue('forms.validation.password.required')" [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
        <ng-container *ngIf="rePass.invalid && rePass.touched">
            <p class="caption status-danger" *ngIf="rePass.errors?.required">
                Preencha a confimação da senha!
            </p>
            <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                As senhas não conferem, da uma olhada ai.
            </p>
        </ng-container>
    </div>

    <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')">
        <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
            Concordo com os <a href="https://www.termsandconditionsgenerator.com/live.php?token=Yg6OznhFT6xozYaH7puzFysf80ylaRUr" target="_blank"><strong>Termos &
          Condições</strong></a>
        </nb-checkbox>
    </div>

    <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
    Registrar!
  </button>
</form>

<section class="another-action" aria-label="Sign in">
    Ja tem uma conta? <a class="text-link" routerLink="../login">Entrar</a>
</section>