<h2>Nova Sessão</h2>
<nb-card>
    <nb-card-body>
        <form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">


            <div class="form-control-group">
                <label class="label" for="input-date">Data:</label>
                <input [nbDatepicker]="datepicker" nbInput [(ngModel)]="session.date" #date="ngModel" id="input-date" name="date" placeholder="Data" fullWidth fieldSize="large" [status]="date.dirty ? (date.invalid  ? 'danger' : 'success') : 'basic'" [required]="getConfigValue('forms.validation.date.required')"
                    [attr.aria-invalid]="date.invalid && date.touched ? true : null">
                <nb-datepicker #datepicker [min]="min"></nb-datepicker>
                <ng-container *ngIf="date.invalid && date.touched">
                    <p class="caption status-danger" *ngIf="date.errors?.required">
                        A Data é obrigatória!
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="input-time">Hora:</label>
                <input nbInput [(ngModel)]="session.time" #time="ngModel" id="input-time" name="time" placeholder="Hora" fullWidth fieldSize="large" [status]="time.dirty ? (time.invalid  ? 'danger' : 'success') : 'basic'" [required]="getConfigValue('forms.validation.time.required')"
                    [attr.aria-invalid]="time.invalid && time.touched ? true : null" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}">
                <ng-container *ngIf="time.invalid && time.touched">
                    <p class="caption status-danger" *ngIf="time.errors?.required">
                        A Hora é obrigatória!
                    </p>
                    <p class="caption status-danger" *ngIf="time.errors?.pattern">
                        A Hora é inválida
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="select-room">Sala:</label>
                <nb-select [(selected)]="session.room" name="selectRoom" id="select-room" fullWidth fieldSize="large">
                    <nb-option *ngFor="let room of rooms" [value]="room">{{room.name}}</nb-option>
                </nb-select>
            </div>

            <div class="form-control-group">
                <label class="label" for="select-movie">Filme:</label>
                <nb-select [(selected)]="session.movie" name="selectMovie" id="select-movie" fullWidth fieldSize="large">
                    <nb-option *ngFor="let movie of movies" [value]="movie">{{movie.title}}</nb-option>
                </nb-select>
            </div>

            <br>
            <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
                Cadastrar
            </button>
        </form>
    </nb-card-body>
</nb-card>