<nb-card>
    <nb-card-header>Remover Sessão</nb-card-header>
    <nb-card-body>
        Você está prestes a remover a sessão:<br>
        <b>{{session.date}} - {{session.movie.title}}</b>
        <br>Tem certeza disso?
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" (click)="dismiss()">Cancelar</button><button nbButton status="danger" class="remove" (click)="remove()">Remover</button>
    </nb-card-footer>
</nb-card>