<h2>Editar Usuário</h2>
<nb-card>
    <nb-card-body>
        <form (ngSubmit)="edit()" #form="ngForm" aria-labelledby="title">


            <div class="form-control-group">
                <label class="label" for="input-name">Nome Completo:</label>
                <input nbInput [(ngModel)]="user.fullName" #fullName="ngModel" id="input-name" name="fullName" placeholder="Nome Completo" autofocus fullWidth fieldSize="large" [status]="fullName.dirty ? (fullName.invalid  ? 'danger' : 'success') : 'basic'" [required]="getConfigValue('forms.validation.fullName.required')"
                    [minlength]="getConfigValue('forms.validation.fullName.minLength')" [maxlength]="getConfigValue('forms.validation.fullName.maxLength')" [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null">
                <ng-container *ngIf="fullName.invalid && fullName.touched">
                    <p class="caption status-danger" *ngIf="fullName.errors?.required">
                        Seu nome é obrigatório!
                    </p>
                    <p class="caption status-danger" *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength">
                        Seu nome precisa conter de {{getConfigValue('forms.validation.fullName.minLength')}} a {{getConfigValue('forms.validation.fullName.maxLength')}} caracteres
                    </p>
                </ng-container>
            </div>
            <div class="form-control-group">
                <label class="label" for="input-email">Endereço de E-mail:</label>
                <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email" pattern=".+@.+..+" placeholder="Endereço de E-mail" fullWidth fieldSize="large" [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'" [required]="getConfigValue('forms.validation.email.required')"
                    [attr.aria-invalid]="email.invalid && email.touched ? true : null">
                <ng-container *ngIf="email.invalid && email.touched">
                    <p class="caption status-danger" *ngIf="email.errors?.required">
                        E-mail é obrigatório!
                    </p>
                    <p class="caption status-danger" *ngIf="email.errors?.pattern">
                        O E-mail não é válido!
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="select-role">Nível de acesso:</label>
                <nb-select [(selected)]="user.role" name="selectRole" id="select-role" fullWidth fieldSize="large" [disabled]="user._id === loggedUser._id">
                    <nb-option value="cliente">Cliente</nb-option>
                    <nb-option value="atendente">Atendente</nb-option>
                    <nb-option value="gerente">Gerente</nb-option>
                </nb-select>
            </div>

            <br>
            <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
                Alterar
            </button>
        </form>
    </nb-card-body>
</nb-card>