<h2>Novo Filme</h2>
<nb-card>
    <nb-card-body>
        <form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">


            <div class="form-control-group">
                <label class="label" for="input-name">Título do Filme</label>
                <input nbInput [(ngModel)]="movie.title" #title="ngModel" id="input-name" name="title" placeholder="Título do Filme" autofocus fullWidth fieldSize="large" [status]="title.dirty ? (title.invalid  ? 'danger' : 'success') : 'basic'" [required]="getConfigValue('forms.validation.title.required')"
                    [minlength]="getConfigValue('forms.validation.title.minLength')" [maxlength]="getConfigValue('forms.validation.title.maxLength')" [attr.aria-invalid]="title.invalid && title.touched ? true : null">
                <ng-container *ngIf="title.invalid && title.touched">
                    <p class="caption status-danger" *ngIf="title.errors?.required">
                        Título do filme é obrigatório!
                    </p>
                    <p class="caption status-danger" *ngIf="title.errors?.minlength || title.errors?.maxlength">
                        O título precisa conter entre {{getConfigValue('forms.validation.title.minLength')}} a {{getConfigValue('forms.validation.title.maxLength')}} caracteres
                    </p>
                </ng-container>
            </div>
            <div class="form-control-group">
                <label class="label" for="input-description">Descrição</label>
                <textarea nbInput [(ngModel)]="movie.description" #description="ngModel" id="input-description" name="description" placeholder="Descrição do filme" fullWidth fieldSize="large" [status]="description.dirty ? (description.invalid  ? 'danger' : 'success') : 'basic'"
                    [required]="getConfigValue('forms.validation.description.required')" [attr.aria-invalid]="description.invalid && description.touched ? true : null"></textarea>

                <ng-container *ngIf="description.invalid && description.touched">
                    <p class="caption status-danger" *ngIf="description.errors?.required">
                        A descrição é obrigatória!
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="input-duration">Duração em minutos</label>
                <input nbInput [(ngModel)]="movie.duration" #duration="ngModel" id="input-duration" name="duration" type="number" min=1 placeholder="Duração do filme em minutos" fullWidth fieldSize="large" [status]="duration.dirty ? (duration.invalid  ? 'danger' : 'success') : 'basic'"
                    [required]="true" [attr.aria-invalid]="duration.invalid && duration.touched ? true : null">
                <ng-container *ngIf="duration.invalid && duration.touched">
                    <p class="caption status-danger" *ngIf="duration.errors?.required">
                        Duração do filme é obrigatório!
                    </p>
                </ng-container>
            </div>
            <div class="form-control-group">
                <label class="label" for="select-animation-type">Tipo de Animação:</label>
                <nb-select [(selected)]="movie.animationType" name="select-animation-type" id="select-animation-type" fullWidth fieldSize="large">
                    <nb-option value="2d">2D</nb-option>
                    <nb-option value="3d">3D</nb-option>
                </nb-select>
            </div>

            <div class="form-control-group">
                <label class="label" for="select-audio-type">Tipo de Áudio:</label>
                <nb-select [(selected)]="movie.audioType" name="select-audio-type" id="select-audio-type" fullWidth fieldSize="large">
                    <nb-option value="legendado">Legendado</nb-option>
                    <nb-option value="dublado">Dublado</nb-option>
                </nb-select>
            </div>

            <div class="form-control-group">
                <label class="label" for="input-image">Imagem URL</label>
                <input nbInput [(ngModel)]="movie.image" #image="ngModel" id="input-image" name="image" placeholder="Imagem URL do filme ( http://br.web.img3.acsta.net/pictures/19/11/12/13/02/4217574.jpg )" fullWidth fieldSize="large" [status]="image.dirty ? (image.invalid  ? 'danger' : 'success') : 'basic'"
                    [required]="true" [attr.aria-invalid]="image.invalid && image.touched ? true : null">

                <ng-container *ngIf="image.invalid && image.touched">
                    <p class="caption status-danger" *ngIf="image.errors?.required">
                        A descrição é obrigatória!
                    </p>
                </ng-container>
            </div>
            <br>
            <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
                Cadastrar
            </button>
        </form>
    </nb-card-body>
</nb-card>