<h2>Salas</h2>
<nb-card>
    <nb-card-body>

        <div class="rooms-header">
            <input nbInput fullWidth id="search" placeholder="Buscar" class="search-input">
            <button nbButton status="success" routerLink="../create">Nova Sala</button>
        </div>

        <ng2-smart-table [settings]="settings" [source]="data" (edit)="edit($event)" (delete)="delete($event)">
        </ng2-smart-table>

    </nb-card-body>
</nb-card>