<nb-card>
    <nb-card-body>

        <div class="horizontal">
            <button type="button" class="date-button" nbButton outline status="primary" (click)="getBackDays()">
                < </button>
            <div *ngFor="let day of days; let i = index">
                <button type="button" class="date-button" nbButton status="primary" *ngIf="verifySelected(day)" (click)="selectDay(day)">
                        <div *ngIf="verifyToday(day)">
                            HOJE<br>{{day | date: 'dd/MM'}}
                        </div>
                        <div *ngIf="!verifyToday(day)">
                            {{day | date: 'EEE'}}<br>{{day | date: 'dd/MM'}}
                        </div>
                    </button>
                <button type="button" class="date-button" nbButton outline status="primary" *ngIf="!verifySelected(day)" (click)="selectDay(day)">
                        <div *ngIf="verifyToday(day)">
                            HOJE<br>{{day | date: 'dd/MM'}}
                        </div>
                        <div *ngIf="!verifyToday(day)">
                            {{day | date: 'EEE'}}<br>{{day | date: 'dd/MM'}}
                        </div>
                    </button>
            </div>
            <button type="button" class="date-button" nbButton outline status="primary" (click)="getNextDays()"> >
        </button>
        </div>

        <br>
        <nb-card *ngFor="let session of sessions; let i = index">
            <nb-card-body>


                <div class="row show-grid">

                    <div class="col-6 col-md-4">
                        <img [src]="session[0].movie.image" width="200px" class="responsive">
                    </div>
                    <div class="col-12 col-sm-6 col-md-8">
                        <h3>{{session[0].movie.title}}</h3>
                        <p>{{session[0].movie.description}}</p>
                        <p>tempo estimado {{timeConvert(session[0].movie.duration)}}</p>
                    </div>
                </div>
                <div *ngFor="let sess of session; let j = index">
                    <p></p>
                    <button type="button" class="session-button" (click)="goToBuy(sess)" nbButton outline status="primary">
                        {{sess.room.name}} - {{sess.movie.animationType.toUpperCase()}}<br>{{sess.date | date: 'HH:mm'}}
                    </button>
                    <br>
                </div>

            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>